<%- include('../partials/adminHeader'); %>


<ul class="tabs center-align">
    <li class="tab col s3"><a target="_self" href="/admin/orders/new" <% if (orderFilter.status == "New") { %>
            class="active" <% } %>>New<span class="teal-text">(<%=orderFilter.count.payment_success%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/confirmed"
            <% if (orderFilter.status == "Confirmed") { %> class="active" <% } %>>Confirmed <span class="teal-text">
                (<%=orderFilter.count.confirmed%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/dispatched"
            <% if (orderFilter.status == "Dispatched") { %> class="active" <% } %>>Dispatched <span class="teal-text">
                (<%=orderFilter.count.dispatched%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/delivered"
            <% if (orderFilter.status == "Delivered") { %> class="active" <% } %>>Delivered <span class="teal-text">
                (<%=orderFilter.count.delivered%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/return-requested"
            <% if (orderFilter.status == "Return requested") { %> class="active" <% } %>>Return requested <span
                class="teal-text"> (<%=orderFilter.count.return_requested%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/all" <% if (orderFilter.status == "All") { %>
            class="active" <% } %>>All <span class="teal-text">
                (<%=orderFilter.count.all%>)</span></span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/returned" <% if (orderFilter.status == "Returned") { %>
            class="active" <% } %>>Returned <span class="teal-text"> (<%=orderFilter.count.returned%>)</span></a></li>
    <li class="tab col s3"><a target="_self" href="/admin/orders/cancelled"
            <% if (orderFilter.status == "Cancelled") { %> class="active" <% } %>>Cancelled <span class="teal-text">
                (<%=orderFilter.count.cancelled%>)</span></a></li>
</ul>


<div class="row">
    <div class="col offset-m1">
        <blockquote>
            <% if(orderFilter.status == 'New') {%>
                <h5 class="page-title purple-text text-darken-2">New Orders</h5>
            <% } else {%>
                <h5 class="page-title purple-text text-darken-2"><%=orderFilter.status%></h5>
            <% } %>
        </blockquote>
    </div>
</div>


<div class="row">
    <div class="col s12 m10  offset-m1">
        <% if (typeof orders !== "undefined") { %>
        <br>
        <% orders.forEach(o => { %>
        <div class="card">
            <div class="card-content">
                <p class="card-title"><i class="material-icons icon-grey left">date_range</i><%= o.created_at %></p>
                <br>
                <div class="row">
                    <div class="col s12 m4">
                        <p><i class="material-icons icon-grey left">confirmation_number</i><span class="helper-txt">Order ID</span><%= o.order_id %>
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_balance_wallet</i><span class="helper-txt">Order total</span>
                            ₹<%=parseFloat(o.txnamount).toFixed(2)%></p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_balance</i><span class="helper-txt">Payment Mode</span>
                            <%= o.paymentmode %></p>
                        <br>
                        <p><i class="material-icons icon-grey left">shopping_basket</i><%= o.product_count %> Product(s)
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_circle</i><span class="helper-txt">Recepient Name</span>
                                <%=o.fullname%></span></p>
                        <br>
                        <p><i class="material-icons icon-grey left">location_city</i><span class="helper-txt">Shipping Address</span>
                        </p>
                        <div style="margin-left: 12%;">
                            <%=o.address%>
                        </div>
                        <br>
                        <p><i class="material-icons icon-grey left">location_on</i><span class="helper-txt">PIN code</span><%=o.pincode%>
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">phone</i><span class="helper-txt">Phone</span><%=o.phone%></p>
                        <br>
                    </div>
                    <div class="col s12 m7 offset-m1">
                        <ul class="collapsible">
                            <% o.items.forEach(item => { %>
                            <li class="active">
                                <div class="collapsible-header">
                                    <div class="row valign-wrapper">
                                        <div class="col s2">
                                            <i class="material-icons">expand_more</i>
                                        </div>
                                        <div class="col s4">
                                            <img style="width: 60px;"
                                                src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= item.product_id %>/<%= item.image %>" alt="">
                                        </div>
                                        <div class="col s6">
                                            <a href="/products/<%= item.category_slug %>/<%= item.slug %>"><p class="order-item-title"><%= item.title %></p></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <br>
                                    <span id="current-status-<%= o.order_id %>-<%= item.product_id %>"
                                        class="<%=item.status%>-text status-text"><%= item.status %></span>
                                    <br>
                                    Order quantity: <%= item.quantity %>
                                    <br>
                                    Purchased at: ₹<%=parseFloat(item.purchase_price).toFixed(2)%>
                                    <br>
                                    <% if(item.delivered_at) { %>
                                        Delivered on <%= item.delivered_at %>
                                        <% } %>
                                    <br>
                                    <div class="row">
                                        <div class="col s12 m5">
                                            <div class="input-field">
                                                <select name="<%= o.order_id %>-<%= item.product_id %>" id="status"
                                                    class="order-item-status">
                                                    <option selected disabled>Set Status</option>
                                                    <optgroup label="Order">
                                                        <option value="Confirmed"
                                                            <% if (item.status == "Confirmed") { %> selected <% } %>>Confirmed</option>
                                                        <option value="Dispatched"
                                                            <% if (item.status == "Dispatched") { %> selected <% } %>>Dispatched</option>
                                                        <option value="Delivered"
                                                            <% if (item.status == "Delivered") { %> selected <% } %>>Delivered</option>
                                                    </optgroup>
                                                    <optgroup label="Cancellations">
                                                        <option value="Cancelled"
                                                            <% if (item.status == "Cancelled") { %> selected <% } %>>Cancelled</option>
                                                    </optgroup>
                                                    <optgroup label="Returns">
                                                        <option value="Return requested"
                                                            <% if (item.status == "Return requested") { %> selected
                                                            <% } %>>Return requested</option>
                                                        <option value="Returned"
                                                            <% if (item.status == "Returned") { %>selected <% }%>>Returned</option>
                                                    </optgroup>
                                                </select>
                                                <label>Order Status</label>
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="row">
                                                <div class="col s12">
                                                    <div class="input-field">
                                                        <i class="material-icons prefix">local_shipping</i>
                                                        <input id="tracking-id" type="text"
                                                            value="<%= item.tracking_id %>" disabled>
                                                        <label for="tracking-id">Shipment Tracking
                                                            ID</label>
                                                        <% if (item.status == 'Payment Success') { %>
                                                            <span class="helper-text">Confirm the order status to auto generate tracking ID</span>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <br>
        <% } else { %>
        <h5 class="center-align">
            <% if (orderFilter.status == "All") { %>
            <% orderFilter.status = "" %>
            <% } %>
            There are no <%=orderFilter.status%> orders
        </h5>
        <% } %>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('select').formSelect();
        $('.collapsible').collapsible({
            'accordion': false
        })
        $(".order-item-status").change(function (e) {
            const status = e.target.value;
            const name = e.target.name;
            const statusUpdate = name.split("-", 2);
            const data = {
                orderID: statusUpdate[0],
                productID: statusUpdate[1],
                value: status
            }
            $.ajax({
                type: 'POST',
                url: '/admin/orders/update-order-item',
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function (res) {
                    if (res.message) {
                        M.toast({
                            html: res.message,
                            displayLength: 1000,
                            classes: 'rounded'
                        })
                    }
                    if (res.success == 1) {
                        $('#current-status-' + statusUpdate[0] + '-' + statusUpdate[1]).html(status);
                        document.getElementById('current-status-' + statusUpdate[0] + '-' + statusUpdate[1]).innerHTML = ''
                        document.getElementById('current-status-' + statusUpdate[0] + '-' + statusUpdate[1]).innerHTML = status
                        setTimeout(function () {
                            location.reload()
                        }, 1100);
                    }
                }
            });
        });
    });

</script>


<%- include('../partials/adminFooter'); %>