</main>
<!-- Show filter button only on homepage and products route -->
<% let filterRequired = false %>
<% if ((typeof currentPage != 'undefined')  && (currentPage == '' || currentPage == 'products')) { %>
    <% filterRequired = true %> 
<div class="fixed-action-btn">
    <a href="#filter-modal" id="FAB"
        class="waves-effect waves-light modal-trigger btn-large deep-purple lighten-1">Filters</a>
</div>

<div id="filter-modal" class="modal bottom-sheet modal-fixed-footer">
    <form action="/search/filter" method="POST">
        <div class="modal-content">
            <h5>Filter and Sort</h5>
            <p>Browse exactly what you want</p>
            <div class="row">
                <br>
                <div class="input-field col s12 m8 offset-m2 form-group">
                    <select class="form-control" name="category">
                        <option value="all" disabled selected>All</option>
                        <% if (typeof categories !== 'undefined') { %>
                        <% categories.forEach(c => { %>
                        <li class="collection-item">
                            <option value="<%= c.slug %>"><%= c.title %></option>
                        </li>
                        <% }) %>
                        <% } %>
                    </select>
                    <label>Product Category</label>
                </div>
                <br><br><br>
                <input class="form-control" type="hidden" name="price-min" id="range-min" value="">
                <input class="form-control" type="hidden" name="price-max" id="range-max" value="">
                <div class="col s12 m8 offset-m2 form-group">
                    <label>Price range</label>
                    <br>
                    <div id="range">
                    </div>
                    <br>
                    <span id="price-min">₹ Minimum</span>
                    <span><strong> - </strong></span>
                    <span id="price-max">₹ Maximum</span>
                </div>
                <br><br><br>
                <div class="col s12 m8 offset-m2 form-group">
                    <br>
                    <label>Sort</label>
                    <p>
                        <label>
                            <input class="form-control" value="relevance" name="sort" type="radio" checked />
                            <span>Relevance</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="form-control" value="popularity" name="sort" type="radio" />
                            <span>Popularity</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="form-control" value="low-to-high" name="sort" type="radio" />
                            <span>Price: Low to High</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="form-control" value="high-to-low" name="sort" type="radio" />
                            <span>Price: High to Low</span>
                        </label>
                    </p>

                </div>
            </div>

        </div>
        <div class="modal-footer form-group">
            <a href="#" class="modal-close waves-effect btn-flat">Cancel</a>
            <button type="submit" class="modal-close waves-effect waves-teal btn-flat form-control">Apply</button>
        </div>
    </form>
</div>
<% } %>



<footer class="page-footer grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col l4  s12">
                <h5 class="grey-text text-darken-4">Pages</h5>
                <ul>
                    <% if (typeof pages !== 'undefined') { %>
                    <% pages.forEach(page => { %>
                    <li>
                        <% if (page.slug=="home") { %>
                        <a class="grey-text text-darken-2" href="/"><%=page.title%></a>
                        <% }else{ %>

                        <a class="grey-text text-darken-2" href="/<%= page.slug %>"><%=page.title%> </a>

                        <% } %>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue-grey darken-2 ">
        <div class="container">
            <span class="white-text ">© 2020 Copyright</span>
            <a class="white-text right" href="#">GitHub</a>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="/js/index.js"></script>

<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }



    document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit();
        var initData = JSON.parse('<%-JSON.stringify(searchTerms)%>');
        var elem = document.querySelector('.collapsible.expandable');
        var instance = M.Collapsible.init(elem, {
            accordion: false
        });


        var dropdown = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(dropdown, {
            constrainWidth: false,
            hover: true,
            coverTrigger: false
        });

        var slider = document.querySelectorAll('.slider');
        var instances = M.Slider.init(slider, {
            interval: 3000,
            indicators: false,
            height: 200
        });

        var autocompletes = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(autocompletes, {
            data: initData,
            minLength: 1,
            limit: 30,
            onAutocomplete: function (val) {
                $('#search, #search-header, #search-mobile').val(val);
                $("#search-nav").submit();
            }
        });

        var carousel = M.Carousel.init({
            fullWidth: true,
            indicators: true
        });


        var selects = document.querySelectorAll('select');
        var instances = M.FormSelect.init(selects, {});

        if('<%filterRequired%>'){
            var rangeSlider = document.getElementById('range');
            noUiSlider.create(rangeSlider, {
                start: [1, 50000],
                connect: true,
                step: 1,
                orientation: 'horizontal',
                range: {
                    'min': 1,
                    'max': 50000
                },
                format: wNumb({
                    decimals: 0
                })
            });
            var priceMin = document.getElementById('price-min')
            var priceMax = document.getElementById('price-max')
            range.noUiSlider.on('update', function (values, handle) {
                priceMin.innerHTML = `₹${parseInt(values[0])}`
                priceMax.innerHTML = `₹${parseInt(values[1])}`
                document.getElementById("range-min").value = values[0]
                document.getElementById("range-max").value = values[1]
            });
        }

    });
</script>



<%- messages('messages', locals) %>
<% if (errors) { %>
<% errors.forEach(function (error) { %>
<script>
    M.toast({
        html: '<%= error.msg %>',
        displayLength: 6000,
        classes: 'red rounded'
    })
</script>
<% }); %>
<% } %>
</body>

</html>