<%- include('./partials/header_minimal'); %>

<div class="row">
    <div class="container">
        <% if (typeof cart !== "undefined") { %>
        <h5 class="page-title">My Cart</h5>
        <table class="centered align-middle">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th> </th>
                    <th>Subtotal</th>
                </tr>
            </thead>

            <tbody>
                <% let total = 0 %>
                <% cart.forEach(p => { %>
                <% let sub = parseFloat(p.quantity * p.price).toFixed(2) %>
                <% total += +sub %>
                <tr>
                    <td>
                        <a href="/products/<%= p.category %>/<%= p.slug %> ">
                            <img class="cpi" src="<%= p.image %>" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="/products/<%= p.category %>/<%= p.slug %> ">
                            <%= p.title %>
                        </a>
                    </td>
                    <td>
                        ₹<%=parseFloat(p.price).toFixed(2)%>
                    </td>
                    <td>
                        <%= p.quantity %>
                    </td>
                    <td>
                        <a class="tooltipped" data-position="top" data-tooltip="Add one"
                            href="/cart/update/<%= p.id %>?action=add"><i class="material-icons icon-grey">add</i></a>
                        &nbsp;
                        <a class="tooltipped" data-position="top" data-tooltip="Remove one"
                            href="/cart/update/<%= p.id %>?action=remove"><i
                                class="material-icons icon-grey">remove</i></a>
                        &nbsp;
                        <a href="/cart/update/<%= p.id %>?action=clear">Remove</a>
                        &nbsp;

                    </td>
                    <td>
                        <b>₹<%=parseFloat(sub).toFixed(2)%></b>
                    </td>
                </tr>
                <% }) %>
                <tr>
                    <td colspan="6">
                        <b> Total: ₹<%=parseFloat(total).toFixed(2)%></b>
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="/cart/clear" class="waves-effect waves-light btn red lighten-1 clearCart"><i
                class="material-icons left">clear_all</i>Clear cart</a>
        <a href="/cart/payment" class="waves-effect waves-light btn buynow"><i
                class="material-icons left">shopping_basket</i>Checkout</a>

        <% } else {%>
        <h5 class="center-align">Your cart is empty</h5>
        <% }  %>
    </div>
</div>

<script>
    $(function () {
        $('a.clearCart').on('click', function (e) {
            if (!confirm('Clear all products from cart?'))
                return false
        })
    })
</script>



<%- include('./partials/footer'); %>