<%- include('./partials/header'); %>
<script src="/js/rater.min.js" charset="utf-8"></script>
</main>
<style>
    #grad1 {
        background-image: linear-gradient(#DDF6FC, white);
    }
</style>
<%- include('./partials/sliderImages'); %>
<div id="grad1">
    <div class="row container">
        <h4 class="header">Heading</h4>
        <p class="grey-text text-darken-3 lighten-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            exercitationem rerum odio iusto iure illum eum?</p>
    </div>

    <% if (typeof homepageProducts != 'undefined') { %>
    <div class="container">
        <div class="row">
            <% for(i = 0; i<(homepageProducts.length); i++){ %>
            <% const p = homepageProducts[i] %>
            <div class="col s6 m4 l3">
                <div class="card z-depth-2 hoverable product-card">
                    <div class="card-content">
                        <a href="/products/<%= p.category %>/<%= p.slug %>">
                            <div class="row">
                                <div class="col s12">
                                    <img class="home-product-image"
                                        src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= p.id %>/<%= p.image %>"
                                        alt="">
                                </div>
                                <div class="col s12">
                                    <p class="card-product-name"><%= p.title %></h6>
                                </div>
                                <br>
                                <div class="col s12">
                                    <div class="chip">
                                        • <b>₹<%= parseFloat(p.price).toFixed(2)  %></b>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <br style="margin-top: 6px;">
                                    <div class="row" style="height: 18px;">
                                        <div class="col s12">
                                            <% if (p.stock <= 0) { %>
                                            <span class="red-text helper-txt"><strong>Out of stock</strong></span>
                                            <% } else { %>
                                            <div class="float-container">
                                                <div class="float-child-1">
                                                    <div class="rate-fixed-card"></div>
                                                </div>
                                                <span class="helper-txt float-child-2"
                                                    style="padding: 2px;">(<%= (p.count) %>)</span>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <script>
                                        var optionsFixed = {
                                            initial_value: '<%= parseFloat(p.rating).toFixed(2)  %>',
                                            readonly: true,
                                            step_size: 0.1
                                        }
                                        $(".rate-fixed-card").rate(optionsFixed);
                                    </script>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>

</div>
<%- include('./partials/filterModal'); %>
<%- include('./partials/footer'); %>