<%- include('./partials/header'); %>

<div class="row">
    <div class="col offset-m1">
        <h5 class="page-title purple-text text-darken-2">My Orders</h5>
    </div>
</div>

<div class="row">
    <div class="col s12 m10  offset-m1">
        <% if (typeof orders !== "undefined") { %>
        <% orders.forEach(o => { %>
        <div class="card">
            <div class="card-content">
                <p class="card-title"><i class="material-icons icon-grey left">date_range</i><%= o.created_at %></p>
                <br>
                <div class="row">
                    <div class="col s12 m4">
                        <p><i class="material-icons icon-grey left">confirmation_number</i><span
                                class="helper-txt">Order ID</span><%= o.order_id %>
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_balance_wallet</i><span
                                class="helper-txt">Order total</span>
                            ₹<%=parseFloat(o.txnamount).toFixed(2)%></p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_balance</i><span class="helper-txt">Payment
                                Mode</span>
                            <%= o.paymentmode %></p>
                        <br>
                        <p><i class="material-icons icon-grey left">shopping_basket</i><%= o.product_count %> Product(s)
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">account_circle</i><span class="helper-txt">Recepient
                                Name</span>
                            <%=o.fullname%></span></p>
                        <br>
                        <p><i class="material-icons icon-grey left">location_city</i><span class="helper-txt">Shipping
                                Address</span>
                        </p>
                        <div style="margin-left: 12%;">
                            <%=o.address%>
                        </div>
                        <br>
                        <p><i class="material-icons icon-grey left">location_on</i><span class="helper-txt">PIN
                                code</span><%=o.pincode%>
                        </p>
                        <br>
                        <p><i class="material-icons icon-grey left">phone</i><span
                                class="helper-txt">Phone</span><%=o.phone%></p>
                        <br>
                    </div>
                    <div class="col s12 m7 offset-m1">
                        <ul class="collapsible">
                            <% o.items.forEach(item => { %>
                            <li class="active">
                                <div class="collapsible-header  collapsible-header-order-item">
                                    <div class="row valign-wrapper">
                                        <div class="col s2">
                                            <i class="material-icons">expand_more</i>
                                        </div>
                                        <div class="col s4">
                                            <img style="width: 60px;"
                                                src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= item.product_id %>/<%= item.image %>" alt="">
                                        </div>
                                        <div class="col s6">
                                            <a href="/products/<%= item.category_slug %>/<%= item.slug %>">
                                                <p class="order-item-title"><%= item.title %></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapsible-body  collapsible-body-order-item">
                                    <br>
                                    <span id="current-status-<%= o.order_id %>-<%= item.product_id %>"
                                        class="<%=item.status%>-text status-text"><%= item.status %></span>
                                    <br>
                                    Order quantity: <%= item.quantity %>
                                    <br>
                                    Purchased at: ₹<%=parseFloat(item.purchase_price).toFixed(2)%>
                                    <br>
                                    <br>
                                    <% if(item.tracking_id && (item.status != 'Return requested' && item.status != 'Returned'&& item.status != 'Cancelled')) { %>
                                    Tracking ID: <%= item.tracking_id %>
                                    <br>
                                    <% } %>
                                    <br>
                                    <div class="row">
                                        <div class="col s12 ">
                                            <div class="right">
                                                <% if (item.status == 'Payment Success' || item.status == 'Confirmed' ||item.status == 'Dispatched') { %>
                                                <a class="waves-effect waves-red btn-flat btn-small order-action-btn modal-trigger"
                                                    href="#cancel-confirmation-modal"><i
                                                        class="material-icons left" style="font-size: 14px">cancel</i>Cancel</a>

                                                <div id="cancel-confirmation-modal" class="modal">
                                                    <div class="modal-content">
                                                        <h5 class="red-text">Order cancellation</h5>
                                                        <img class="center-align"
                                                            style="width: 80px; vertical-align:middle;"
                                                            src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= item.product_id %>/<%= item.image %>"
                                                            alt="">
                                                        <span>Are you sure you want to cancel <%= item.title %>?</span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/orders/cancel-item/<%= o.order_id %>/<%= item.product_id %>"
                                                            class="modal-close waves-effect waves-red btn-flat">Confirm</a>
                                                    </div>
                                                </div>


                                                <% } else if(item.status != 'Return requested' && item.status != 'Returned'&& item.status != 'Cancelled') {%>
                                                <a class="waves-effect waves-red btn-flat btn-small order-action-btn modal-trigger"
                                                href="#return-confirmation-modal"><i
                                                        class="material-icons left">exit_to_app</i>Return</a>

                                                        <div id="return-confirmation-modal" class="modal">
                                                            <div class="modal-content">
                                                                <h5 class="grey-text text-darken-2">Request return</h5>
                                                                <img class="center-align"
                                                                    style="width: 80px; vertical-align:middle;"
                                                                    src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= item.product_id %>/<%= item.image %>"
                                                                    alt="">
                                                                <span>Are you sure you want to request a return pickup for <%= item.title %>?</span>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="/orders/return-item/<%= o.order_id %>/<%= item.product_id %>"
                                                                    class="modal-close waves-effect waves-red btn-flat">Confirm</a>
                                                            </div>
                                                        </div>


                                                <% } %>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <% } else {%>
        <h5 class="center-align">There are no orders</h5>
        <% }  %>
    </div>
</div>

























<%- include('./partials/footer'); %>