<%- include('./partials/header'); %>
<script src="/js/rater.min.js" charset="utf-8"></script>
<div class="row">
    <div class="col s12 m8 l9 offset-m2 offset-l2">
        <blockquote>
            <h5 class="page-title"><%= title %></h5>
        </blockquote>

        <div class="row products">
            <% if(products.length>0) { %>
            <% products.forEach(p => { %>
            <div class="col s6 m4 l3 p">
                <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
                    <% if ( p.image == 'thumbs') { %>
                    <img class="pimage" src="./images/noimage.png" alt="">
                    <% } else { %>
                    <img class="pimage"
                        src="https://ecommerce-metacart.s3.ap-south-1.amazonaws.com/product_images/<%= p.id %>/<%= p.image %>"
                        alt="">
                    <% } %>
                </a>
                <div class="row">
                    <div class="col s12">
                        <a href="/products/<%= p.category %>/<%= p.slug %>">
                            <p class="card-product-name"><%= p.title %></p>
                        </a>
                    </div>
                    <div class="col s12">
                        <div class="chip">
                            • <b>₹<%= parseFloat(p.price).toFixed(2)  %></b>
                        </div>
                    </div>
                    <div class="col s12">
                        <br style="margin-top: 6px;">
                        <div class="row" style="height: 18px;">
                            <div class="col s12">
                                <% if (p.stock <= 0) { %>
                                <span class="red-text helper-txt"><strong>Out of stock</strong></span>
                                <% } else { %>
                                <div class="float-container">
                                    <div class="float-child-1">
                                        <div class="rate-fixed-card"></div>
                                    </div>
                                    <span class="helper-txt float-child-2"
                                        style="padding: 2px;">(<%= (p.count) %>)</span>
                                    <script>
                                        var optionsFixed = {
                                            initial_value: '<%= parseFloat(p.rating).toFixed(2)  %>',
                                            readonly: true,
                                            step_size: 0.1
                                        }
                                        $(".rate-fixed-card").rate(optionsFixed);
                                    </script>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            <% }else { %>
            <h5 class="center-align">No matches found</h5>
            <% } %>
        </div>
    </div>
</div>
<div class="row">
    <div class="center">

        <ul class="pagination">
            <li <% if (currentPage == 0) { %> class="disabled"><a href="#"><i
                        class="material-icons">chevron_left</i></a> <% } else { %>
                ><a
                    href="/products<% if (typeof category != 'undefined') { %>/<%=category%><% } %>?page=1&limit=<%=limit%>&<%=reqQuery%>"><i
                        class="material-icons">chevron_left</i></a>
                <% } %>
            </li>
            <% startPage = currentPage - 4 %>
            <% endPage = +currentPage + 4 %>
            <% if(startPage < 0) { startPage = 1 }%>
            <% if (endPage > numPages) { endPage = numPages } %>
            <% for( let index = Math.max(1,startPage); index <= endPage; index++ ) { %>
            <li class="waves-effect <% if (index - 1 == currentPage) { %>
                        active
                    <% } %>"><a
                    href="/products<% if (typeof category != 'undefined') { %>/<%=category%><% } %>?page=<%=index%>&limit=<%=limit%>&<%=reqQuery%>"><%=index%></a>
            </li>
            <% } %>
            <li <% if (currentPage == numPages-1 || numPages == 0 ) { %> class="disabled"><a href="#"><i
                        class="material-icons">chevron_right</i></a> <% } else { %>
                ><a
                    href="/products<% if (typeof category != 'undefined') { %>/<%=category%><% } %>?page=<%=numPages%>&limit=<%=limit%>&<%=reqQuery%>"><i
                        class="material-icons">chevron_right</i></a>
                <% } %>
            </li>
        </ul>
    </div>
</div>
</div>
<%- include('./partials/filterModal'); %>
<%- include('./partials/footer'); %>