<%- include('./partials/header'); %>
<div class="col s12 m8 l9">
    <blockquote>
        <h5 class="page-title"><%= title %></h5>
    </blockquote>

    <div class="row products">
        <% if(products.length>0) { %>
        <% products.forEach(p => { %>
        <div class="col s6  l3 p">
            <a class="pa" href="/products/<%= p.category %>/<%= p.slug %>">
                <img class="pimage" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
            </a>
            <a href="/products/<%= p.category %>/<%= p.slug %>">
                <h5><%= p.title %></h5>
            </a>
            <div class="chip">
                • <b>₹<%= parseFloat(p.price).toFixed(2)  %></b>
            </div>
            <% if (p.stock==0) { %>
            <span class="red-text"><strong>Out of stock</strong></span>
            <% } %>
        </div>
        <% }) %>
        <% }else { %>
            <h5 class="center-align">No matches found</h5>
        <% } %>
    </div>
</div>
<%- include('./partials/footer'); %>