<%- include('./partials/header'); %>
    
   
    <div class="col s12 m8 l9">
        <div class="row">
            <h5 class="page-header"><%= p.title %> </h5>
        
            <div class="col s6 m4 l3">
                <img class="spi" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
        
            </div>
            <div class="col s12 m7">
                <p><%= p.desc %> </p>
                <p><b> ₹<%= parseFloat(p.price).toFixed(2) %></b> </p>
                <p><a href="/cart/add/<%= p.slug %>">Add to cart</a></p>
            </div>
            <div class="col s12 ">
                <ul class="gallery">
                    <% galleryImages.forEach(image => { %>
                    <% if (image != "thumbs") { %>
                    <li>
                        <a  data-fancybox="gallery" href="/product_images/<%= p.id %>/gallery/<%= image %>">
                            <img src="/product_images/<%= p.id %>/gallery/thumbs/<%= image %>" alt=""></a>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>



<%- include('./partials/footer'); %>